@import url(https://fonts.google.com/specimen/PT+Serif?query=serif);

body {
    max-width: 960px;
    padding: 20px;
    font-family: var(--paragraph-font);
}

/* CSS code for color variables */
:root {
    --primary-color: #004080;
    --secondary-color: #006400;
    --accent1-color: #FF7F50;
    --accent2-color: #808080;
    
    --heading-font:'Helvetica',serif;
    --paragraph-font:'Georgia',serif;

    --nav-background-color:#A2D2FF
    --nav-link-color:#FFC8DD
    --nav-hover-link-color:#BDE0FE
    --nav-hover-background-color:#FFAFCC
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

header{
    padding: 20px;
    background-color: var(--primary-color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}